*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.underLine{
  height: 4px;
  width: 150px;
  background-color: rgb(141, 69, 208);
}
.uprCard{
  display: flex;
  justify-content: center;
  align-items: center;
}

